@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif;
  background: #111c22;
}

.Boxes {
  @apply flex h-[90px] w-[90px] lg:h-[180px] lg:w-[180px] bg-[#1f3540] border-4 border-[#0f1b21] rounded-xl cursor-pointer;
}

.Boxes img {
  margin: 50px 50px;
  background: transparent;
}
